.page-header{
    background: $off-white;
    margin-bottom: $m-size;
    padding: $m-size 0;
}

.page-header__title{
    font-weight: 100;
    margin: 0;
    span{
        font-weight: bold;
    }
}

.page-header__actions{
    margin-top: $s-size;
}